/* //顶部导航栏目 */
.header{
    /* 这里还是用antd的组件实现浮动 */
    /* position: fixed;
    top: 0;
    left: 0;
    z-index:9999;
    width: 100%;
    background-color: '#0092ff'; */
    /* height: 450px; */
    position:  relative;
    width: 100%;
}
.showTime{
    position: absolute;
}
.selectPage{
    position: absolute;
    left: 13%;

}
.title{
    /* 绝对定位--垂直居中 */
    position: absolute;
    left: 40%;
    color: white;
}
.search{
    position: absolute;
    left: 55%;
    /* margin: 0px auto; */
}
.title.Line{
    color: whitesmoke;
}

