/* //顶部导航栏目 */
.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 450px;
    z-index:9999;
    width: 100%;
    background-color: '#0092ff';
    
}
.showTime{
    margin:0px auto;
}
.title{
    /* 绝对定位--垂直居中 */
    /* position: absolute; */
    top: 50%;
    left: 50%;
    margin-left: 310px;
    color: white;
}
.search{
    margin: 0px auto;
}
.title.Line{
    color: whitesmoke;
}

